/* write your code here */
* {
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgba(253, 252, 252, 0.993);
}

#content-hero {
    width: auto;
    padding: 44px;
    text-align: center;
    color: rgb(240, 246, 247);
    text-align: center;
    /* background-color: grey; */
    background-image: url("image/flat.jpg")

}

ul.listHero {
    list-style-type: square;
}

#content-hero img {
    height: 150px;
    position: relative;
    top: 25%;
}

section div {
    margin: 50px;
    width: auto;
    height: auto;
    position: sticky; 
}

.hero {
    background-color: rgb(75, 75, 75);
    size: 10cm;
    border: 1px solid white;
    text-align: center;
    border-radius: 5%;
    padding: 10px;
    display: inline-block;
    
}
.hero img {
    height: 200px;
}

video {
    height: 150px;
    position: relative;
    top: 25%;
}

footer {
    position: relative;
    bottom: 0;
    background-color: rgb(7, 7, 7);
    width: auto;
    height: 40px;
    text-align: center;
    padding-top: 10px;
    color: white;
}


.btn {
    box-sizing: border-box;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    background-color: transparent;
    border: 2px solid #e74c3c;
    border-radius: 0.6em;
    color: #e74c3c;
    cursor: pointer;
    display: flex;
    align-self: center;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1;
    margin: 0px;
    padding: 20px;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    width: 100%;
  }
  .btn:hover, .btn:focus {
    color: #fff;
    outline: 0;
  }
  .third {
    border-color: #3498db;
    color: #fff;
    box-shadow: 0 0 40px 40px #3498db inset, 0 0 0 0 #3498db;
    transition: all 150ms ease-in-out;
  }
  .third:hover {
    box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #3498db;
  }

  .fourth {
    border-color: #f1c40f;
    color: #fff;
    background-image: linear-gradient(45deg, #f1c40f 50%, transparent 50%);
    background-position: 100%;
    background-size: 400%;
    transition: 300ms ease-in-out;
  }
  .fourth:hover {
    background-position: 0;
  }

  .fifth:hover {
    color: #fff;
  }
  .fifth:hover:after {
    width: 110%;
  }